.about {
  text-align: center;
}

.about__container {
  padding-top: 15px;
  padding-bottom: 49px;
}

.about__title {
  margin-bottom: 17px;
}

.about__text {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 480px;
  font-size: 12px;
  line-height: 17px;
}

.about__list {
  display: none;
}

.about__slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 460px;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 166px;
  gap: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

#first-slide::before {
  content: "1";
}

#second-slide::before {
  content: "2";
}

#third-slide::before {
  content: "3";
}

#fourth-slide::before {
  content: "4";
}

.about__item::before {
  padding-top: 16px;
  width: 104px;
  height: 104px;
  background-color: #23C7EC;
  border-radius: 50%;
  font-weight: 500;
  font-size: 52px;
  line-height: 73px;
  color: #fff;
}

#advantage-1:checked~#first-slide,
#advantage-2:checked~#second-slide,
#advantage-3:checked~#third-slide,
#advantage-4:checked~#fourth-slide {
  display: flex;
}

.about__slider-button {
  display: none;
}

.about__item_slide {
  display: none;
}

.about__previous,
.about__next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  top: calc(50% - 38px / 2);
  z-index: 3;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.about__previous:active,
.about__next:active {
  background-color: #797CBC;
  color: #fff;
}

.about__previous {
  left: 0;
}

.about__next {
  right: 0;
}

.about__counter {
  width: 104px;
  height: 104px;
  background-color: #23C7EC;
  border-radius: 50%;
}

@media (min-width: 796px) {
  .about__container {
    padding-top: 38px;
    padding-bottom: 42px;
  }

  .about__title {
    margin-bottom: 23px;
  }

  .about__text {
    margin-bottom: 58px;
    max-width: 666px;
    font-size: 16px;
    line-height: 23px;
  }

  .about__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 42px;
    margin: 0 auto;
    max-width: 870px;
    counter-reset: advantage 0;
  }

  .about__slider {
    display: none;
  }

  .about__item {
    max-width: 180px;
    counter-increment: advantage 1;
  }

  .about__item::before {
    content: counter(advantage);
  }
}

@media (min-width: 1366px) {
  .about__title {
    margin-bottom: 25px;
  }

  .about__text {
    margin-bottom: 57px;
    max-width: 724px;
    font-size: 18px;
    line-height: 25px;
  }

  .about__list {
    max-width: 934px;
  }

  .about__item {
    gap: 16px;
    max-width: 196px;
    font-size: 20px;
    line-height: 28px;
  }

  .about__item::before {
    padding-top: 37px;
    width: 122px;
    height: 122px;
    font-size: 57px;
    line-height: 100%;
  }
}