.call-me {
  display: none;
  text-align: center;
}

.call-me__phone {
  margin-bottom: 4px;
  font-size: 21px;
  line-height: 25px;
}

.call-me__link {
  font-size: 13px;
  line-height: 15px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media (min-width: 1024px) {
  .call-me {
    display: block;
  }
}

@media (min-width: 1600px) {
  .call-me__phone {
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 28px;
  }

  .call-me__link {
    font-size: 16px;
    line-height: 19px;
  }
}