.contact {
  background-image: url("../img/contact-screen.jpg");
  color: #fff;
  text-align: center;
}

.contact__container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.contact__form {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 290px;
}

.contact__fieldset {
  margin-bottom: 45px;
}

.contact__legend {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.contact__input-block {
  margin: 0 auto;
  max-width: 290px;
}

.contact__input {
  display: block;
  padding: 6px 18px;
  margin-bottom: 15px;
  width: 100%;
  height: 28px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  background-color: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.contact__input:last-child {
  margin-bottom: 0;
}

.contact__agreement {
  font-size: 11px;
  line-height: 13px;
}

.contact__link {
  color: #4A76A8;
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media (min-width: 796px) {
  .contact__container {
    padding-top: 39px;
    padding-bottom: 29px;
  }

  .contact__form {
    max-width: 475px;
  }

  .contact__fieldset {
    margin-bottom: 50px;
  }

  .contact__legend {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 23px;
  }

  .contact__input-block {
    max-width: 380px;
  }

  .contact__input {
    padding: 19px 23px;
    margin-bottom: 17px;
    height: 39px;
    border-width: 2px;
    font-size: 20px;
    line-height: 23px;
  }

  .contact__input:last-child {
    margin-bottom: 0;
  }

  .contact__agreement {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: 1366px) {
  .contact__container {
    padding-bottom: 43px;
  }

  .contact__form {
    margin-bottom: 50px;
    max-width: 513px;
  }

  .contact__fieldset {
    margin-bottom: 53px;
  }

  .contact__legend {
    margin-bottom: 52px;
    font-size: 22px;
    line-height: 26px;
  }

  .contact__input-block {
    max-width: 425px;
  }

  .contact__input {
    padding: 9px 25px;
    margin-bottom: 21px;
    height: 44px;
    font-size: 22px;
    line-height: 26px;
  }

  .contact__agreement {
    font-size: 20px;
    line-height: 23px;
  }
}