.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1800px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 0 200px;
  }
}