.footer {
  padding: 24px 0;
  background-color: #2F324B;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__text {
  font-weight: 500;
  font-size: 8px;
  line-height: 11px;
}

.footer__author {
  display: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #9798A5;
}

@media (min-width: 796px) {
  .footer {
    padding: 37px 0 48px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 17px;
  }

  .footer__author {
    display: block;
  }
}

@media (min-width: 1366px) {
  .footer {
    padding: 44px 0;
  }

  .footer__author {
    color: #fff;
  }
}