.header {
  padding-top: 0;
  background-color: #4E5066;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: rgba(255, 255, 255, 0.86);
}

.header__container {
  padding-top: 15px;
  padding-bottom: 50px;
}

.header__content {
  margin: 0 auto;
  margin-bottom: 54px;
}

.header__description {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 1024px) {
  .header__container {
    padding-top: 26px;
    padding-bottom: 35px;
  }

  .header__content {
    margin-bottom: 60px;
    max-width: 754px;
  }

  .header__description {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1600px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 85px;
  }

  .header__content {
    margin-bottom: 90px;
    max-width: 960px;
  }

  .header__description {
    font-size: 22px;
    line-height: 31px;
  }
}