.header {
  padding-top: 15px;
  padding-bottom: 65px;
  background-color: #4E5066;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.86);
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 51px;
  max-width: 480px;
  gap: 27px;
}

.header__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.header__description_not-phone {
  display: none;
}

@media (min-width: 796px) {
  .header {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .header__contacts {
    margin-bottom: 70px;
  }

  .header__content {
    margin-bottom: 57px;
    max-width: 754px;
    gap: 28px;
  }

  .header__description {
    font-size: 18px;
    line-height: 25px;
  }

  .header__description_phone {
    display: none;
  }
  
  .header__description_not-phone {
    display: block;
  }
}

@media (min-width: 1366px) {
  .header {
    padding: 40px 0 120px;
  }

  .header__contacts {
    margin-bottom: 120px;
  }

  .header__content {
    margin-bottom: 90px;
    max-width: 960px;
    gap: 31px;
  }

  .header__description {
    font-size: 22px;
    line-height: 31px;
  }
}