.subtitle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

@media (min-width: 768px) {
  .subtitle {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
  }
}

@media (min-width: 1366px) {
  .subtitle {
    margin-bottom: 17px;
    font-size: 35px;
    line-height: 41px;
  }
}