.title {
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
}

@media (min-width: 1024px) {
  .title {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
  }
}

@media (min-width: 1600px) {
  .title {
    margin-bottom: 35px;
    font-size: 52px;
    line-height: 61px;
  }
}